@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  background: #a7be3a;
  font-size: 62.5%;
}

h1 {
  text-align: center;
  margin-top: 60px;
  font-size: 2rem;
}
h2 {
  margin-top: 50px;
  text-align: center;
  font-size: 50px;
}

p {
  text-align: center;
  margin: 15px auto 0px auto;
  font-size: 1rem;
  width: 80%;
}
.contact-form {
  margin: 35px auto 50px auto;
  width: 80%;
}

.contact-form label {
  font-size: 1.1rem;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 10px;
}

.contact-form input {
  padding: 12px 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  background: rgb(255, 255, 255);
  font-size: 1rem;
  border-radius: 3px;
  margin-bottom: 20px;
  width: 100%;
}

.contact-form input:focus {
  border-bottom: 2px solid #1a883f;
}

.contact-form textarea {
  padding: 12px 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  background: rgb(255, 255, 255);
  font-size: 1rem;
  border-radius: 3px;
  width: 100%;
  font-family: inter;
  font-weight: normal;
}

.contact-form textarea:focus {
  border-bottom: 2px solid #1a883f;
}

.contact-form button {
  font-size: 19px;
  width: 100%;
  margin-top: 25px;
  border: none;
  padding: 12px 20px;
  background-color: #22b352;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border-bottom: 3px solid #1a883f;
}

.contact-form button:hover {
  background-color: #1a883f;
  border-bottom: 3px solid #22b352;
}

.bd {
  border-radius: 10px;
}
@media screen and (min-width: 1000px) {
  .contact-form {
    width: 40%;
  }
}
